@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p,h1,h2,h3,h4,a,label{
  font-family: 'Open Sans', sans-serif;
}

body{ 
  background-color: #ccc;
}

navbar{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px 0;
  background-image: linear-gradient(to right, blue , purple);
}

navbar h1{
  font-size: 31px;
  color: white;
}

navbar ul{
  display: flex;
}

navbar ul li{
  list-style: none;
  padding: 0 10px 0 10px;
  margin: 0px 10px 0px 10px;
  cursor: pointer;
}

navbar ul a{
  text-decoration: none;
  color: white;
  transition: .5s;
}

navbar ul a:hover{
  transform: scale(1.08);
}

main{
  width: 100%;
  padding: 100px 0 0 0;
}

.audio{
  display: flex;
  justify-content: center;
}

main .content{
  margin: 20px 90px;
  padding: 25px 45px;
  border-radius: 15px;
  transition: .5s;
  background-color: rgba(255,255,255, 0.6);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

main .content h2{
  font-size: 25px;
  padding: 0 0 10px 0;
}

main .content p { 
  font-size: 16px;
  text-align: justify;
}

main .content p + p{
  padding: 10px 0;
}

main .content:hover{
  background-color: rgb(247, 247, 247);
  transform: scale(1.005, 1.005);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

main .content .image{
  width: 100%;
}

main .content .image img{
  width: 63.3%;
  margin-left: 200px;
  margin-bottom: 30px;
}